<li class="ivu-menu-item-group">
    <div class="ivu-menu-item-group-title">@Title</div>

    <ul>
        @ChildContent
    </ul>
</li>
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Title { get; set; }
}

