@{
    var clas = string.Empty;
    var style = string.Empty;

    if (IsChecked)
    {
        clas += "  ivu-switch-checked ";
    }
    if (Size!=null)
    {
        clas += $"ivu-switch-{Size.ToString().ToLower()} ";
    }
    if (Disabled)
    {
        clas += " ivu-switch-disabled ";
    }
    if (Loading)
    {
        clas += " ivu-switch-loading ";
    }

    if (IsChecked)
    {
        if (!string.IsNullOrEmpty(TrueColor))
        {
            style += $"border-color: {TrueColor};background-color: {TrueColor};";
        }
    }
    else
    {
        if (!string.IsNullOrEmpty(FalseColor))
        {
            style += $"border-color: {FalseColor};background-color:{FalseColor}";
        }

    }

}
<span tabindex="0" class="ivu-switch @clas" @onclick="OnClick" style="@style">
    <input type="hidden" value="false">
    <span class="ivu-switch-inner">
        @if (!(string.IsNullOrEmpty(SlotOpenText)&&string.IsNullOrEmpty(SlotCloseText)))
        {
            <span>@(IsChecked?SlotOpenText:SlotCloseText)</span>
        }
       

    </span>
</span>
@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    private bool IsChecked { get; set; }

    [Parameter]
    public SwitchSize? Size { get; set; }
    /// <summary>
    ///     打开时内容
    /// </summary>
    [Parameter]
    public string SlotOpenText { get; set; }
    /// <summary>
    ///     关闭时内容
    /// </summary>
    [Parameter]
    public string SlotCloseText { get; set; }
    /// <summary>
    ///     禁用开关
    /// </summary>
    [Parameter]
    public bool Disabled{ get; set; }
    /// <summary>
    ///     加载中
    /// </summary>
    [Parameter]
    public bool Loading { get; set; }
    /// <summary>
    ///     自定义背景色
    /// </summary>
    [Parameter]
    public string TrueColor { get; set; }
    /// <summary>
    ///     自定义背景色
    /// </summary>
    [Parameter]
    public string FalseColor { get; set; }

    protected void OnClick(MouseEventArgs args)
    {
        if (Disabled)
        {
            return;
        }
        if (Loading)
        {
            return;
        }
        IsChecked = IsChecked != true;
    }
}