@{
    var clas=string.Empty;
    if (Disabled)
    {
        clas+=" ivu-select-item-disabled";
    }
}

<li class="ivu-select-item @clas"  @onclick="onClick">@Value</li>

@code{

    [CascadingParameter]
    private SSelect SSelect { get; set; }
      /// <summary>
    ///     值
    /// </summary>
    [Parameter]
    public string Value { get; set; }
       /// <summary>
    /// 当选择的值发生改变时触发
    /// </summary>
    [Parameter]
    public EventCallback<string> SelectedValueChanged { get; set; }

    ///<summary>
    ///     禁用
    ///</summary>
    [Parameter]
    public bool Disabled { get; set; }
    protected void onClick(MouseEventArgs args)
    {
        if (Disabled)
        {
            return;
        }
      if (SSelect != null)
        {
            _ = SSelect.TrySetValue(Value, !SelectedValueChanged.HasDelegate);
            return;
        }
    }

}