<label data-v-5cb2b31c="" class="ivu-checkbox-wrapper ivu-checkbox-default">
    <span class="ivu-checkbox"><span class="ivu-checkbox-inner"></span> 
    <input type="checkbox" class="ivu-checkbox-input"></span>
    Checkbox</label>