@page "/"
@namespace StackableUi.Samples.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StackableUi.Samples</title>
    <base href="~/" />
    <link rel="stylesheet" href="_content/StackableUi.Component/css/styles.css" />

</head>
<body>
    <app>
        <form method="delete"></form>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
<script src="_framework/blazor.server.js"></script>
</body>
</html>
