@page "/"
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StackableUi.Samples</title>
    <base href="~/" />
    <link rel="stylesheet" href="_content/StackableUi.Component/css/styles.css" />
</head>
<body>
    <div class="wapper">
        <div data-v-6c0a0fc1="" class="index">
            <div class="index-main">
                <img src="https://file.iviewui.com/dist/7dcf5af41fac2e4728549fa7e73d61c5.svg" class="index-logo"> <div class="index-apps">
                    <div class="apps">
                        <div class="ivu-dropdown">
                            <div class="ivu-dropdown-rel">
                                <button type="button" class="ivu-btn ivu-btn-text">
                                    <!----> <!----> <span>
                                        Stackable UI
                                        <i class="apps-arrow ivu-icon ivu-icon-ios-arrow-down"></i>
                                    </span>
                                </button>
                            </div> <!---->
                        </div>
                    </div>
                </div> <div class="index-search">
                    <div class="ivu-select ivu-select-single ivu-select-default">
                        <div tabindex="-1" class="ivu-select-selection">
                            <input type="hidden">
                            <div class="">
                                <span class="" style="display: none;"></span>
                                <input type="text" placeholder="搜索组件..." autocomplete="off" spellcheck="false" class="ivu-select-input">
                                <!----> <i class="ivu-icon ivu-icon-ios-arrow-down ivu-select-arrow"></i>
                            </div>
                        </div>
   
                    </div>
                </div> <div class="index-container ivu-row-flex ivu-row-flex-middle ivu-row-flex-center">
                    <div class="ivu-col ivu-col-span-24">
                        <span class="ivu-badge"><img src="/images/Blazor Ui.png" class="index-title"> <sup class="ivu-badge-count" style="margin-top: 10px; margin-right: 20px;">0.0.1</sup></span> <div class="index-content">一套基于 IView 的高质量</div> <div class="index-content">Blazor UI 组件库</div> <div class="index-actions">
                            <a href="/docs/introduce" target="_self" class="index-btn ivu-btn ivu-btn-primary ivu-btn-circle">
                                <span>开始使用</span>
                            </a> 
                            <a href="https://github.com/hueifeng/StackableUi" target="_blank" class="index-btn ivu-btn ivu-btn-primary ivu-btn-circle ivu-btn-ghost">
                                <i class="ivu-icon ivu-icon-logo-github"></i> <span>GitHub</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div> <div class="index-bg-footer"><img src="https://file.iviewui.com/dist/1dd818d51d9a168714dd715897b4d769.png"></div> <div class="index-extra"><div class="info-menu info-menu-light"><div class="info-menu-sign-in"><span class="ivu-avatar ivu-avatar-circle ivu-avatar-icon ivu-avatar-default"><i class="ivu-icon ivu-icon-ios-person"></i></span> <button type="button" class="ivu-btn ivu-btn-text ivu-btn-large"><!----> <!----> <span>登录</span></button></div> <div class="info-menu-add"><div class="info-menu-add-dropdown ivu-dropdown"><div class="ivu-dropdown-rel"><button type="button" class="ivu-btn ivu-btn-text ivu-btn-large"><!----> <!----> <span><i class="ivu-icon ivu-icon-md-add" style="font-size: 24px;"></i></span></button> </div> <div class="ivu-select-dropdown" style="display: none;"><ul class="ivu-dropdown-menu info-menu-add-write"><li class="ivu-dropdown-item"><i class="normal ivu-icon ivu-icon-ios-help-circle-outline"></i> <span>提问题</span></li> <li class="ivu-dropdown-item"><i class="normal ivu-icon ivu-icon-ios-code"></i> <span>写示例</span></li> <li class="ivu-dropdown-item"><i class="normal ivu-icon ivu-icon-ios-information-circle-outline"></i> <span>提 Issue</span></li></ul></div></div></div> <div class="info-menu-more"><button type="button" class="ivu-btn ivu-btn-text"><!----> <!----> <span><i class="ivu-icon ivu-icon-md-more" style="font-size: 24px;"></i></span></button></div> <!----></div></div> <div class="index-copyright">Copyright © 2020 Stackable</div>
        </div>
    </div>
</body>
</html>