@page "/"

<h1>Hello, world!</h1>
<p>
    <SButton Type="@EnumButtonType.Success">哈哈哈哈</SButton>
    <SMenu>
        <SMenuGroup>
            <SMenuItem>111</SMenuItem>
            <SMenuItem>2</SMenuItem>
            <SMenuItem>3</SMenuItem>
        </SMenuGroup>
        <SMenuGroup>
            <SMenuItem>4</SMenuItem>
            <SMenuItem>5</SMenuItem>
            <SMenuItem>6</SMenuItem>
        </SMenuGroup>
    </SMenu>
</p>


Welcome to your new app.
