@page "/radio"

<SRadio>Radio</SRadio>

<SRadioGroup>
    <SRadio Value="windows" Border>
        <SIcon Type="logo-windows"/>
        <span>Windows</span>
    </SRadio>
    <SRadio Value="apple" Disabled>
        <SIcon Type="logo-apple"/>
        Apple
    </SRadio>
    <SRadio Value="android">
        <SIcon Type="logo-android" />
        Android
    </SRadio>
</SRadioGroup>

