@page "/radio"


<SRadio>Radio</SRadio>

<SRadioGroup>
    <SRadio>
        <SIcon Type="logo-windows" />
        <span>Windows</span>
    </SRadio>
    <SRadio>
        <SIcon Type="logo-apple" />
        Apple
    </SRadio>
    <SRadio>
        <SIcon Type="logo-android" />
        Android
    </SRadio>
</SRadioGroup>

