@page "/components/radio"

<SRadio>Radio</SRadio>


<SRadioGroup Type="button">
    <SRadio Value="windows">
        <SIcon Type="logo-windows"/>
        <span>Windows</span>
    </SRadio>
    <SRadio Value="apple">
        <SIcon Type="logo-apple"/>
        Apple
    </SRadio>
    <SRadio Value="android">
        <SIcon Type="logo-android" />
        Android
    </SRadio>
</SRadioGroup>

