@{

}


<label class="ivu-radio-wrapper ivu-radio-wrapper-checked ivu-radio-default">
    <span class="ivu-radio @changedclas">
        <span class="ivu-radio-inner "></span>
        <input type="radio" class="ivu-radio-input" @onclick="OnRadioChanged">
    </span>
    @ChildContent
</label>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }

    private string changedclas = string.Empty;

    protected void OnRadioChanged()
    {
         changedclas= "ivu-radio-checked";
    }
}
