<div class="ivu-radio-group ivu-radio-group-default ivu-radio-default ivu-radio-group-vertical">
    <CascadingValue Value="@this">
        @ChildContent
        </CascadingValue>
</div>



@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter]public string Text { get; set; }


    protected override void OnInitialized()
    {


        base.OnInitialized();
    }
    internal bool TrySetValue(string value, bool requireRefresh)
    {
        Text = value;
        if (requireRefresh)
        {
            StateHasChanged();
        }
        return true;
    }
}
