@{
    var clas = string.Empty;
    if (Vertical)
    {
        clas = "ivu-radio-group-vertical";
    }

    if (Type=="button")
    {
        clas += "ivu-radio-group-button";
    }

    switch (Size)
    {
        case RadioSize.Large:
            clas += " ivu-radio-group-large ivu-radio-large";
            break;
        case RadioSize.Small:
            clas += " ivu-radio-group-small ivu-radio-small";
            break;
        default:
            break;
    }

}

<div class="ivu-radio-group ivu-radio-group-default ivu-radio-default @clas ">
    <CascadingValue Value="@this">
        @ChildContent
        </CascadingValue>
</div>


@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter]public string Text { get; set; }

    [Parameter]public string Type { get; set; }

    [Parameter] public bool Vertical { get; set; }

    [Parameter] public RadioSize Size { get; set; }

    protected override void OnInitialized()
    {


        base.OnInitialized();
    }
    internal bool TrySetValue(string value, bool requireRefresh)
    {
        Text = value;
        if (requireRefresh)
        {
            StateHasChanged();
        }
        return true;
    }
}
