@using Microsoft.AspNetCore.Components.Web

<div>
    <button type="button" class="ivu-btn ivu-btn-primary"><!----> <!----> <span>Primary</span></button>
</div>


@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}
