@inherits ButtonBase

@{
    string clas = $"ivu-btn ivu-btn-{Type.ToString().ToLower()}";
}
<button type="button" class="@clas"><span>@ChildContent</span></button>


@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

}
