@{
    string clas = "ivu-btn-group ivu-btn-group-default ";
    if (Vertical)
    {
        clas = " ivu-btn-group-vertical";
    }
}

<div class="@clas">
    @ChildContent
</div>
@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Vertical { get; set; }

}
