@inherits LayoutComponentBase
<div class="layout">
    <div class="ivu-layout">
        <div class="ivu-layout-header">
          
        </div> <div class="ivu-layout ivu-layout-has-sider">
            <div class="ivu-layout-sider" style="width: 200px; min-width: 200px; max-width: 200px; flex: 0 0 200px; background: white;">
                <span class="ivu-layout-sider-zero-width-trigger" style="display: none;"><i class="ivu-icon ivu-icon-ios-menu"></i></span>
                <div class="ivu-layout-sider-children">
                    <NavMenu />
                </div> <div class="ivu-layout-sider-trigger" style="width: 200px; display: none;"><i class="ivu-icon ivu-icon-ios-arrow-back ivu-layout-sider-trigger-icon"></i></div>
            </div> <div class="ivu-layout" style="padding: 0px 24px 24px;">
                 <div class="ivu-layout-content" style="padding: 24px; min-height: 280px; background: rgb(255, 255, 255);">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>