<SMenu>
    <a  href="/docs/introduce" target="_self" class="ivu-menu-item ivu-menu-item-active ivu-menu-item-selected">介绍</a>
    <SMenuGroup Title="基础">
        <SMenuItem Icon="ivu-icon ivu-icon-logo-youtube" Route="/components/button">Button 按钮</SMenuItem>
        <SMenuItem Icon="ivu-icon ivu-icon-ios-heart-outline" Route="/components/icon">Icon 图标</SMenuItem>

    </SMenuGroup>
    <SMenuGroup Title="导航">
        <SMenuItem Icon="ivu-icon ivu-icon-ios-menu" Route="/components/menu">Menu 导航菜单</SMenuItem>
    </SMenuGroup>
    <SMenuGroup Title="表单">
        <SMenuItem Icon="ivu-icon ivu-icon-ios-create-outline" Route="/components/input">Input 输入框</SMenuItem>
        <SMenuItem Icon="ivu-icon ivu-icon-ios-radio-button-on" Route="/components/radio">Radio 单选框</SMenuItem>
        <SMenuItem Icon="ivu-icon ivu-icon-ios-checkbox-outline" Route="/components/checkbox">Checkbox 多选框</SMenuItem>
        <SMenuItem Icon="ivu-icon ivu-icon-ios-switch" Route="/components/switch">Switch 开关</SMenuItem>
        <SMenuItem Icon="ivu-icon ivu-icon-ios-arrow-down" Route="/components/select">Select 选择器</SMenuItem>
    </SMenuGroup>

</SMenu>

@code {

    [Inject]
    NavigationManager NavigationManager { get; set; }
    protected override void OnInitialized()
    {
        if (new Uri(NavigationManager.Uri).LocalPath == "/index")
        {
            NavigationManager.NavigateTo("/");
        }
    }
}

